KEY = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/keydb/aes/bkey.{{ keyserver[simple_phase]['db_size'][nickname]}}
RSA = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/keydb/rsa/private.bin/private-
ID_MAP = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/idmap/mapping-{{ keyserver[simple_phase]['db_size'][nickname] }}-
R_MAP = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/idmap/rmapping-{{ keyserver[simple_phase]['db_size'][nickname] }}-
K_RELEASE = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/keydb/aes/release.aes
R_RELEASE = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/keydb/rsa/release.rsa
TSDB = 127.0.0.1
TIMEOUT = 5000
DEBUG = false
UTL_DEBUG = false
TEST = {{ keyserver[simple_phase].test_flag }}
ASYNC = 5
MAXGO = {{ keyserver[simple_phase]['maxgo'][nickname] }}
KL_VERSION = {{ keyserver[simple_phase].kl_version }}
DB_SIZE = {{ keyserver[simple_phase]['db_size'][nickname] }}
PARTITION = {{ keyserver.partition }}
REKEY = 1
REKEY_INTERVAL = 30
MAX_RSA = 1000
MAL_INTERVAL = 3600
NEW_ID_THD = 10
HOST = 0.0.0.0
INTERNAL_IP = {{ internal_ip }}
PORT = 6389
AGENT_PORT = 30973
KS_VERSION = {{ keyserver[simple_phase]['ks_version'][nickname] }}
WINDOW = 10
MC_PORT = 22122
MC_US = {{ keyserver[simple_phase].keyserver_ssd_path }}/data/socket.mc
REDIS = 127.0.0.1:9999
REDIS_POOL = 20
DB = 1
LOG_LEVEL = 8 #debug: 128, error: 64, crit: 32, info: 16, config: 8, track: 4, none: 0
