{
    "tag": "memcached",
    "match": "{{droi_directory}}/keyserver/current/memcached", 
    #"regex": "",
    "exec": "{{droi_directory}}/keyserver/current/memcached -u {{keyserver_memcahced.run_user}} -p {{keyserver_memcahced.memcached_port}}", #執行程式(list或str)
    #'alert': ' Restart',
    #"numa": True,
}